.places {
	display        : flex;
	margin-bottom  : 5%;
	justify-content: center;
	flex-wrap      : wrap;
	flex-direction : row;
}

.places > article {
	display        : flex;
	flex-direction : column;
	justify-content: flex-start;
	position       : relative;
	width          : 390px;
	margin         : 20px;
	padding        : 20px;
	border         : 1px solid #FF5a5F;
	border-radius  : 4px;
}

.price_by_night {
	display        : flex;
	justify-content: center;
	align-items    : center;
	min-width      : 60px;
	position       : absolute;
	top            : 10px;
	right          : 20px;
	font-size      : 30px;
	height         : 60px;
	color          : #FF5a5F;
	border         : #FF5a5F solid 4px;
	border-radius  : 50%;
}

.icon-guest {
	background: url("../images/icon_guest.png") no-repeat;
	width     : 50px;
	height    : 50px;
	margin    : 0 auto 0 auto;
}

.icon-bathrooms {
	background: url("../images/icon_bathrooms.png") no-repeat;
	width     : 50px;
	height    : 50px;
	margin    : 0 auto 0 auto;
}

.information>div>p {
	margin-bottom: auto;
	margin-top   : auto;
}

.places .amenities {
	margin-top: 40px;
}

.places .amenities ul {
	list-style: none;
}

.icon-wifi {
	background     : url("../images/icon_wifi.png") no-repeat;
	background-size: cover;
	width          : 20px;
	height         : 20px;
}

.amenities>ul>li {
	justify-content: flex-start;
	margin-left    : -2.5em;
	display        : flex;
	flex-direction : row;
}

.reviews>h2 {
	border-bottom: 1px #DDDDDD solid;
	font-size    : 16px;
}

.reviews li>h3 {
	font-size: 14px;
}

.reviews>ul {
	list-style: none;
}

.places>h1 {
	font-size    : 30px;
	flex         : 0 1 100%;
	margin-bottom: 0;
	padding      : 0.5em 0 0 0.6em;
}

.places>article>h2 {
	font-size : 30px;
	align-self: center;
	margin    : 0;
}

.information {
	height         : 80px;
	border-top     : #DDDDDD 1px solid;
	border-bottom  : #DDDDDD 1px solid;
	margin-top     : 1.8em;
	width          : 100%;
	display        : flex;
	justify-content: center;
	align-items    : center;
	flex-direction : row;
}

.icon-rooms {
	background: url("../images/icon_rooms.png") no-repeat;
	margin    : 0 auto 0 auto;
	height    : 50px;
	width     : 50px;
}

.information>div {
	width     : 100px;
	text-align: center;
}

.user>p {
	margin-bottom: 5px;
	padding-top  : 0.7em;
}

.places .amenities>h2 {
	border-bottom: 1px solid #DDDDDD;
	font-size    : 16px;
}

.icon-tv {
	width          : 20px;
	height         : 20px;
	background     : url("../images/icon_tv.png") no-repeat;
	background-size: cover;
}

.icon-pets-friendly {
	background     : url("../images/icon_pet_friendly.png") no-repeat;
	background-size: cover;
	width          : 20px;
	height         : 20px;
}

.amenities>ul>li>div {
	margin-right: 0.5em;
}

.reviews li,
.reviews ul {
	margin-left: -1.25em;
}

.reviews li>p {
	font-size: 12px;
}

@media only screen and (max-width: 1000px) {
	.places h1 {
		width: 95%;
	}
}
